/* ===============================================  */
/*                  Base Styles                     */
/* ===============================================  */

* {
  box-sizing: border-box;
}

html {
  font-size: 1.25em; /* --- 20px on most screens --- */
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #4a4a4a;
  text-align: center;
  font: 400 100%/1.5 "Nunito", sans-serif;
}

h1,
h2,
h3 {
  font: 500 1.7rem/1.1 "Roboto", sans-serif;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: #4a4a4a;
  text-decoration: none;
  font-size: 1.1rem;
}

img {
  width: 100%; /* --- Responsive Images --- */
  border-radius: 0.2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ===============================================  */
/*                  Main Styles                     */
/* ===============================================  */

.container,
.profile,
.contact,
.main-footer {
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-header {
  padding-top: 0.5rem;
}

.name {
  margin: 0;
}

.main-nav li {
  background-color: #fff;
  margin-bottom: 0.5rem;
}

.main-nav a {
  display: block;
  padding: 0.5rem 0.6rem;
  border-radius: 0.2rem;
  font-weight: bold;
}

.main-nav a:hover {
  background-color: #fed36e;
}

.profile,
.contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.profile_img {
  width: 250px;
}

.portfolio {
  background-color: #fff;
  padding: 2.5rem 0;
}

.portfolio h2 {
  margin-bottom: 2.5rem;
}

article {
  margin-bottom: 3rem;
}

.main-footer {
  border-top: 1px solid #c4c4c4;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.main-footer,
.main-footer a {
  font-size: 0.8rem;
  font-weight: bold;
}

.hide_on_mobile {
  display: none;
}

/* ===============================================  */
/*                  Media Queries                   */
/* ===============================================  */

@media screen and (min-width: 768px) {
  
  .container,
  .main-nav ul,
  .profile,
  .hide_on_mobile ul {
    display: flex;
  }

  .main-header .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-nav li {
    margin-right: 0.6rem;
    margin-bottom: 0;
    background: none;
  }

  .main-nav a:hover {
    background: none;
  }

  .main-nav li:last-child {
    margin-right: 0;
  }

  .profile {
    flex-direction: row-reverse;
    gap: 20px;
  }

  .profile_img,
  .intro {
    flex: 1;
  }

  .intro {
    text-align: left;
    font-size: 1.1rem;
    margin-top: 0;
  }

  .portfolio {
    padding-bottom: 0;
  }

  .row {
    flex-wrap: wrap;
    gap: 15px;
  }

  .col {
    flex: 1 48%;
  }

  .contact p {
    width: 70%;
    margin: auto;
    margin-bottom: 0.8rem;
  }

  .hide_on_mgandlg {
    display: none;
  }

  .hide_on_mobile {
    display: block;
    align-self: center;
  }

  .hide_on_mobile li {
    margin-left: 0.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .container,
  .profile,
  .contact,
  .main-footer {
    width: 90%;
    max-width: 1150px;
    margin: auto;
  }

  .col {
    flex: 1 30%;
  }
}
